body{
    background-color:#04a6eb;
    color:#fdffff;
    width:500px;
    margin-right:auto;
    margin-left: auto;
}
/*　button要素は親要素を継承しないのでcolorは初期値(黒色)に設定されているためbodyと同じ色に設定し直す */
button {
    padding:5px 20px;
    background-color:#337ab7;
    border-style:none; 
    color:#fdffff;
}
input {
    height:24px;
}






